body{
    Background-image: url(../assets/hd-wallpaper-g4db1b4b88_1920.jpg);
    Background-size: auto;
    Background-color: rgba(246, 245, 235, 0.57);
}

/*.bg-image-category{
    Background-image: url(../assets/hd-wallpaper-g4db1b4b88_1920.jpg);
    Background-size: auto;
}*/

.headerBgDark{
    Background-color: black;
}
.headerBgLight{
    Background-color: rgb(255, 196, 0);
}
.buttonWhite{
    Background-color: rgb(214, 163, 214);
    Outline: none;
}
.buttonOrangered{
    Background-color: orangered;
}
.buttonGreen{
    Background-color: rgba(10, 179, 10, 0.68) ;
}

label{
    Color:rgb(255, 255, 255);
    Background-color:rgba(0, 0, 0, 0.589);
    border-radius: 5px;
    Padding: 0px 10px 0px 10px;
    Width: 100px;
}

.input{
    Background-color: rgba(157, 127, 255, 0.504);
}

table{
    Font-size: 12px;
}

.light-theme{
    Background-color: rgba(243, 253, 253, 0.822);
}

.dark-theme{
    Background-color: rgba(0, 0, 0, 0.733);
}

.category-light{
    Color:black
}

.category-dark{
    Color:rgb(0, 0, 0)
}

.a{
    border-radius: 5px;
    Box-shadow: 0px 0px 10px 0px white;
    Background-color: rgba(196, 166, 222, 0.878) ;
    Color:rgba(0, 0, 0, 0.673);
    /**Background-color: rgba(255, 99, 71, 0.6);**/
}

.b{
    border-radius: 5px;
    Box-shadow: 0px 0px 10px 0px white;
    Background-color: rgba(26, 5, 45, 0.878) ;
    /**Background-color: rgba(255, 99, 71, 0.6);**/
}


.light-category-theme{
    Background-color: rgba(255, 192, 203, 0.802);
    Color: rgb(253, 74, 149);
}

.dark-category-theme{
    Background-color: rgba(65, 81, 96, 0.791);
    Color: rgb(223, 216, 208);
    
}