body{
    Background-image: url(../assets/hd-wallpaper-g4db1b4b88_1920.jpg);
    Background-size: auto;
    Background-color: rgba(246, 245, 235, 0.57);
}

/*.bg-image-category{
    Background-image: url(../assets/hd-wallpaper-g4db1b4b88_1920.jpg);
    Background-size: auto;
}*/

.headerBgDark{
    Background-color: black;
}
.headerBgLight{
    Background-color: rgb(255, 196, 0);
}
.buttonPurple{
    Background-color: rgb(122, 12, 122);
    Outline: none;
}
.buttonOrangered{
    Background-color: orangered;
}
.buttonGreen{
    Background-color: rgba(10, 179, 10, 0.68) ;
}

label{
    Color:rgb(255, 255, 255);
    Background-color:rgba(0, 0, 0, 0.589);
    border-radius: 5px;
    Padding: 0px 10px 0px 10px;
    Width: 100px;
}

.input{
    Background-color: rgba(157, 127, 255, 0.504);

}

table{
    Font-size: 10px;
}